# NOTAR
*. El Api funciona bien pero tiene lag de un mes para el cargado de datos que son de frecuancia diaria

In [1]:
#IMPORT LIBRARIES

#% reset -f

import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from pandas.tseries.offsets import BMonthEnd
import datetime as dt
import seaborn as sns

import qgrid
from IPython.display import display
    
import numpy as np
import datetime

from __future__ import print_function
from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets

In [24]:
# LINKS

lebac_sec="http://infra.datos.gob.ar/catalog/sspm/dataset/304/distribution/304.1/download/lebac-mercado-secundario-tasa-interes-na.csv"

tc_hist="http://infra.datos.gob.ar/catalog/sspm/dataset/175/distribution/175.1/download/tipos-cambio-historicos-banco-central.csv"

tc_fut="http://infra.datos.gob.ar/catalog/sspm/dataset/168/distribution/168.1/download/tipo-cambio--usd---futuro-dolar---ndf-valores-diarios.csv"

api="http://apis.datos.gob.ar/series/api/series?ids=138.1_PAPDE_0_M_41,103.1_I2N_2016_M_15&format=csv"

api="http://apis.datos.gob.ar/series/api/series?ids=138.1_PAPDE_0_M_41&format=csv&start_date=2016-01-01"

In [14]:
pd.read_csv(tc_hist)["indice_tiempo"].max()

'2017-11-30'

In [16]:
pd.read_csv(lebac_sec)["indice_tiempo"].max()

'2017-12-01'

In [18]:
pd.read_csv(tc_fut)["indice_tiempo"].max()

'2017-11-30'

In [25]:
pd.read_csv(api)

   indice_tiempo  pesos_argentinos_por_dolar_estadounidense
0     2016-01-01                                  13.609924
1     2016-02-01                                  14.795186
2     2016-03-01                                  14.899070
3     2016-04-01                                  14.387976
4     2016-05-01                                  14.118300
5     2016-06-01                                  14.154241
6     2016-07-01                                  14.888295
7     2016-08-01                                  14.833930
8     2016-09-01                                  15.117427
9     2016-10-01                                  15.174543
10    2016-11-01                                  15.352964
11    2016-12-01                                  15.881500
12    2017-01-01                                  15.910277
13    2017-02-01                                  15.580245
14    2017-03-01                                  15.524039
15    2017-04-01                                  15.335520
16    2017-05-01                                  15.717309
17    2017-06-01                                  16.123191
18    2017-07-01                                  17.185952
19    2017-08-01                                  17.414913
20    2017-09-01                                  17.241186
21    2017-10-01                                  17.455032
22    2017-11-01                                  17.484364

In [26]:
# ACTUALIZAN UNA VEZ AL MES